@import 'color';

.navbar-default {
	background-color: $backgroundMenuColor;
	border-color: $backgroundMenuColor;
	border-radius: 0em;

	.navbar-brand {
		color: $menuLinkColor;

		&:hover, &:focus {
			color: $menuLinkColorHover;
		}
	}

	.navbar-nav {    
		> li {
			> a {
				color: $menuLinkColor;

				&:hover, &:focus {
					color: $menuLinkColorHover;
				}
			}
		}

		.active {
			> a, > a:hover, > a:focus {
				color: $menuLinkColorHover;
				background-color: $backgroundMenuColor;
			}
		}

		.open {
			> a, > a:hover, > a:focus {
				color: $menuLinkColorHover;
				background-color: $backgroundMenuColor;

				.caret {
					border-top-color: $menuLinkColorHover;
					border-bottom-color: $menuLinkColorHover;
				}
			}
		}

		> .dropdown {
			> a {
				.caret {
					border-top-color: $menuLinkColor;
					border-bottom-color: $menuLinkColor;
				}

				&:hover, &:focus {
					.caret {
						border-top-color: $menuLinkColorHover;
						border-bottom-color: $menuLinkColorHover;
					}
				}
			}
		}
	}

	.navbar-toggle {
		border-color: $backgroundMenuColor;

		&:hover, &:focus {
			background-color: $backgroundMenuColor;
		}

		.icon-bar {
			background-color: $menuLinkColor;
		}
	}
}

@media (max-width: 48.000em) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $menuLinkColor;

		&:hover, &:focus {
			color: $menuLinkColorHover;
			background-color: $backgroundMenuColor;
		}
	}
}
